.ck-content{
    font-family: 標楷體;
}
/* 中文項次 */
ol{
    list-style-type: none;
}
ol > li:before{
    content: attr(data-content);
    background-color: rgb(211 211 211);
}
/* 縮排 */
.custom-block-indent-a {
    margin-left: 10%;
}

.custom-block-indent-b {
    margin-left: 20%;
}

.custom-block-indent-c {
    margin-left: 30%;
}
p{
    margin-block-start: 0%;
    margin-block-end: 0%;
}
.ck-content > ol{
    padding-inline-start: 0px;
}
.ck-content > ol ul{
    list-style-position: inside;
}
.ck-content > ul{
    padding-inline-start: 15px;
}
ol{
    padding-inline-start:1em;
}
ul{
    padding-inline-start:1em;
}
/* list選單打開排版 */
.ck.ck-list-styles-dropdown>.ck-dropdown__panel>.ck-toolbar>.ck-toolbar__items {
    grid-template-columns: repeat(3,auto);
    row-gap: var(--ck-spacing-medium);
    column-gap: var(--ck-spacing-medium);
    padding: var(--ck-spacing-medium);
}
